<ion-view view-title="Browse">
	<ion-content id="ic">
		<h6>Technical Languages</h6>
		<button class="w3-btn w3-round-xxlarge w3-indigo animated bounceInUp btnproceed" style="margin-top:8%" ng-click="clicked()">Proceed <!-- <i class="fa fa-arrow-right w3-xxxlarge"></i> --></button>
		<button class="w3-btn w3-round-xxlarge w3-indigo animated bounceInUp btnproceed" style="margin-top:8%" ng-click="pressed()">Table2_1 <!-- <i class="fa fa-arrow-right w3-xxxlarge"></i> --></button>
		<button class="w3-btn w3-round-xxlarge w3-indigo animated bounceInUp btnproceed" style="margin-top:8%" ng-click="pressed2()">Table2_2 <!-- <i class="fa fa-arrow-right w3-xxxlarge"></i> --></button>
		<div onclick="alert('sd')" class="w3-col m6 w3-card-12" style="width:45%;margin-right:2%;margin-left:3%;margin-bottom:5%">
		    <img src="img/ionic.png" alt="Norway" style="width:80%">
		    <div class="w3-container w3-center">
		      <p>PHP</p>
		    </div>
		</div>
		<div class="w3-col m6 w3-card-12" style="width:45%;margin-right:2%;margin-left:3%;margin-bottom:5%">
		    <img src="img/ionic.png" alt="Norway" style="width:80%">
		    <div class="w3-container w3-center">
		      <p>Java</p>
		    </div>
		</div>
		<div class="w3-col m6 w3-card-12" style="width:45%;margin-right:2%;margin-left:3%;margin-bottom:5%">
		    <img src="img/ionic.png" alt="Norway" style="width:80%">
		    <div class="w3-container w3-center">
		      <p>PHP</p>
		    </div>
		</div>
		<div class="w3-col m6 w3-card-12" style="width:45%;margin-right:2%;margin-left:3%;margin-bottom:5%">
		    <img src="img/ionic.png" alt="Norway" style="width:80%">
		    <div class="w3-container w3-center">
		      <p>Java</p>
		    </div>
		</div>
	</ion-content>
</ion-view>