<ion-view view-title="Home">
	<ion-content>
		<div class="w3-container">
		<center>
		<h3 style="margin-top:5%;margin-bottom:5%">Having trouble with revising the whole things from your background skills.<br></h3>
		<p style="margin-top:8%">Here is the way to grab the oppurtunity to start utilizing yourself confidence quickly.</p>
		<h4 id="h3title" class="animated rubberBand">Ready To Employee</h4>
		<button class="w3-btn w3-round-xxlarge w3-indigo animated bounceInUp btnproceed" style="margin-top:8%" ng-click="proceed()">Proceed <!-- <i class="fa fa-arrow-right w3-xxxlarge"></i> --></button>
		</center>
		</div>
	</ion-content>
</ion-view>